#header{
    width: 100%;
    height: 90px;
    background-color: orange;
    display: flex;
    justify-content: center;
    >ul{
        height: 100%;
        display: flex;
        >li{
            height: 100%;
            >a{
                display: flex;
                height: 100%;
                align-items: center;
                text-decoration: none;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                color:black;
                padding-inline:30px;
            }
        }
    }
}


#about_us{
    width: 100%;
    height: 95vh;
    background-color: darkblue;
    clip-path:polygon(0 0,100% 0,100% 80%,0 100%);
    display: flex;
    >*{
        width: 50%;
        height: 100%;
        border:7px solid orange;
    }
}

footer{
    width: 100%;
    height: 70vh;
    background-color: black;
}